[submodule "NooBoss"]
	path = NooBoss
	url = git@github.com:YeomanYe/NooBoss.git
[submodule "rmc"]
	path = rmc
	url = git@github.com:YeomanYe/rmc.git
[submodule "better-onetab"]
	path = better-onetab
	url = git@github.com:YeomanYe/better-onetab.git
[submodule "cerebro"]
	path = cerebro
	url = git@github.com:YeomanYe/cerebro.git
[submodule "es6-string-shell"]
	path = es6-string-shell
	url = git@github.com:YeomanYe/es6-string-javascript.git
[submodule "file-name-linter"]
	path = file-name-linter
	url = git@gitlab.com:YeomanYe/file-name-linter.git
[submodule "vscode-path-alias"]
	path = vscode-path-alias
	url = git@github.com:YeomanYe/vscode-path-alias.git
[submodule "ext-saladict"]
	path = ext-saladict
	url = git@github.com:YeomanYe/ext-saladict.git