[submodule "NooBoss"]
	path = NooBoss
	url = git@github.com:YeomanYe/NooBoss.git
[submodule "rmc"]
	path = rmc
	url = git@github.com:YeomanYe/rmc.git
[submodule "better-onetab"]
	path = better-onetab
	url = git@github.com:YeomanYe/better-onetab.git
[submodule "cerebro"]
	path = cerebro
	url = git@github.com:YeomanYe/cerebro.git
